.wrapper {
    // border: 2px solid blue;
    width: 100%;
    height: 10%;
    position: absolute;
    z-index: 101;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header {
    // top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    // border: 2px solid red;
}

.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.slidingWrapper {
    border: 2px solid blue;
    height: 20%;
    background-color: white;
}
