.header {
    // border: 2px solid red;
    position: absolute;
    top: 10px;
    width: 97vw;
    display: flex;
    justify-content: space-between;
}

.personInfo {
    // border: 2px solid red;
    text-align: center;
}
