.cursor {
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    transition:
        width 500ms,
        height 500ms;
}

.animatedCursor {
    position: absolute;
    width: 180px;
    border: 5px solid white;
    border-radius: 20px;
    transition: all 500ms;
    // transform-origin: left left;
}

.test {
    opacity: 0;
    // transition: opacity 200ms;
}

.animatedTest {
    opacity: 1;
    transition: opacity 200ms 200ms;
}
