@import "../../styles/breakpoint.module.scss";

.wrapper {
    // border: 1px solid #000;
    // flex-grow: 1;
    height: 70%;
    flex: 0 0 700px;
    // margin-right: 10px;
    // margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    overflow: hidden;
    background: transparent;
    @include tabletXs {
        flex: 0 0 300px;
        // margin-right: 10px;
        // margin-left: 10px;
        // padding: 0px;
        // border: 1px solid #000;
    }
    @include mobileS {
        flex: 0 0 244px;
    }
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid #000;
}
