.canvas {
    position: absolute !important;
}

.pagination {
    position: absolute;
    width: 100vw;
    display: flex;
    top: 50%;
    justify-content: space-between;
}

.wrapper {
    width: 100vw;
    height: 100vh;
}

.prev,
.next {
    text-transform: uppercase;
}

.prev {
    margin-left: 50px;
}

.next {
    margin-right: 50px;
}
