.canvas {
    position: absolute !important;
}

.pagination {
    border: 2px solid red;
    position: absolute;
    width: 100vw;
}

.wrapper {
    border: 2px solid green;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.firstBar {
    display: block;
    width: 100px;
    height: 10px;
    border: 2px solid purple;
    background-color: black;
}
