@import "../../styles/breakpoint.module.scss";

.button {
    position: relative;
    width: 60px;
    height: 35px;
    z-index: 2;
    // cursor: none;
    @include mobileL {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.firstBar,
.secondBar {
    display: block;
    background-color: black;
    width: 100%;
    height: 3px;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 500ms;
    @include mobileL {
        width: 50%;
    }
    @include mobileM {
        width: 40%;
    }
}

.firstBar {
    // top: 10px;
    transform: translateY(-5px);
}

.secondBar {
    // top: 20px;
    transform: translateY(5px);
}

.rotateFirstBar {
    transform: rotate(45deg);
    // top: 20px;
    transition: transform 500ms;
}

.rotateSecondBar {
    transform: rotate(-45deg);
    transition: transform 500ms;
}
