.button {
    position: relative;
    width: 60px;
    height: 35px;
    z-index: 2;
}

.firstBar,
.secondBar {
    display: block;
    background-color: black;
    width: 100%;
    height: 3px;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 500ms;
}

.firstBar {
    // top: 10px;
    transform: translateY(-5px);
}

.secondBar {
    // top: 20px;
    transform: translateY(5px);
}

.rotateFirstBar {
    transform: rotate(45deg);
    // top: 20px;
    transition: transform 500ms;
}

.rotateSecondBar {
    transform: rotate(-45deg);
    transition: transform 500ms;
}
