@import "../../styles/breakpoint.module.scss";
@import "../../styles/variables.module.scss";

.profile {
    position: absolute;
    width: 100%;
    height: 100%;
}

.job {
    position: relative;
    width: 50%;
    text-align: center;
    overflow: hidden;
    @include desktopS {
        width: 90%;
    }
}

.jobProfile {
    font-size: 50px;
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    @include NestHubMax {
        font-size: 30px;
    }
    @include tabletM {
        font-size: $fontSizeTabletM;
    }
    @include tabletXs {
        font-size: $fontSizeMobileL;
    }
    @include mobileM {
        font-size: $fontSizeMobileM;
    }
    @include mobileS {
        font-size: 12px;
    }
}

.angleBracketLeft,
.angleBracketRight {
    position: relative;
}

.angleBracketLeft {
    left: 50px;
    @include desktopS {
        left: 40px;
    }
    @include desktopXs {
        left: 0px;
    }
    @include tabletXs {
        left: 55px;
    }
    @include mobileL {
        left: 15px;
    }
}

.angleBracketRight {
    right: 50px;
    @include desktopS {
        right: 30px;
    }
    @include desktopXs {
        right: 0px;
    }
    @include tabletXs {
        right: 55px;
    }
    @include mobileL {
        right: 10px;
    }
}
