@import "../../styles/breakpoint.module.scss";

.work {
    border: 2px solid red;
    color: red;
    position: absolute;
    top: 50vh;
    left: 43vw;
}

.title {
    border: 5px solid white;
    position: absolute;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    transform: scale(0);
}

.cursor {
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    // transition: all ease-in;
}

.animatedCursor {
    position: absolute;
    width: 180px;
    border: 5px solid white;
    border-radius: 20px;
    transition: all 200ms;
}

.link {
    position: absolute;
    width: 180px;
    border: 5px solid white;
    border-radius: 20px;
    transition: all 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 30px;
    @include tabletXs {
        font-size: 20px;
        width: 140px;
    }
    @include mobileM {
        font-size: 16px;
        width: 108px;
    }
}

.contact {
    @include desktopS {
        top: 600px;
        left: 177px;
    }
    @include tabletM {
        top: 580px;
        left: 100px;
    }
    @include tabletS {
        top: 500px;
    }
    @include tabletXs {
        top: 357px;
        left: 60px;
    }
    @include mobileL {
        top: 403px;
        left: 10px;
    }
    @include mobileM {
        top: 291px;
        left: 36px;
    }
}

.work {
    @include desktopS {
        left: 634px;
    }
    @include tabletM {
        top: 660px;
        left: 500px;
    }
    @include tabletS {
        top: 575px;
    }
    @include tabletXs {
        top: 398px;
        left: 316px;
    }
    @include mobileL {
        top: 446px;
        left: 232px;
    }
    @include mobileM {
        top: 326px;
        left: 203px;
    }
}

.about {
    @include desktopS {
        top: 600px;
        left: 458px;
    }
    @include tabletM {
        top: 580px;
        left: 370px;
    }
    @include tabletS {
        top: 500px;
    }
    @include tabletXs {
        top: 357px;
        left: 223px;
    }
    @include mobileL {
        top: 403px;
        left: 162px;
    }
    @include mobileM {
        top: 291px;
        left: 151px;
    }
}
