.work {
    border: 2px solid red;
    color: red;
    position: absolute;
    top: 50vh;
    left: 43vw;
}

.workTitle,
.aboutTitle,
.contactTitle {
    font-size: 40px;
    text-transform: uppercase;
    position: absolute;
    color: white;
}

.workTitle {
    left: 57vw;
    top: 49vh;
}

.aboutTitle {
    left: 49vw;
    top: 40vh;
}

.contactTitle {
    left: 32vw;
    top: 40vh;
}
