@import "../../styles/breakpoint.module.scss";
@import "../../styles/variables.module.scss";

.mainWrapper {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: relative;
}

.leftWrapper {
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include mobileL {
        margin-left: 50px;
    }
}

.contactWrapper {
    height: 60%;
}
