@import "../../styles/breakpoint.module.scss";
@import "../../styles/variables.module.scss";

.mainWrapper {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: relative;
}

.leftWrapper {
    width: 50%;
    height: 100%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include mobileL {
        margin-left: 50px;
    }
}

.contactWrapper {
    height: 60%;
}

.title {
    font-size: 100px;
}

.subtitle {
    font-size: 40px;
    margin-right: 100px;
    text-decoration: underline;
    cursor: pointer;
    @include desktopS {
        position: absolute;
        width: 60%;
        // font-size: 30px;
        margin-right: 0px;
    }
    @include mobileL {
        font-size: $fontSizeMobileL;
    }
    @include mobileM {
        font-size: $fontSizeMobileM;
    }
}

.showEmail {
    width: 40%;
    // font-size: 40px;
    @include desktopS {
        position: absolute;
        left: 500px;
    }
    @include tabletM {
        // font-size: 24px;
        left: 400px;
    }
    @include mobileL {
        left: 200px;
    }
}

.emailWrapper {
    display: flex;
    align-items: center;
    position: relative;
    @include desktopS {
        width: 80vw;
    }
}
