@import "../../styles/breakpoint.module.scss";

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.imgWrapper,
.imgWrapper1,
.imgWrapper2,
.imgWrapper3,
.imgWrapper4 {
    opacity: 0;
}

.imgWrapper {
    position: absolute;
    width: 200px;
    height: 300px;
    transform: rotate(50deg);
    & > img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    @include mobileS {
        width: 100px;
        height: 230px;
    }
}

.imgWrapper1 {
    position: absolute;
    width: 200px;
    height: 300px;
    transform: rotate(-20deg);
    & > img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    @include mobileS {
        width: 100px;
        height: 230px;
    }
}

.imgWrapper2 {
    position: absolute;
    width: 400px;
    height: 500px;
    transform: rotate(30deg);
    & > img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    @include tabletXs {
        width: 350px;
        height: 450px;
    }
    @include mobileM {
        width: 250px;
        height: 300px;
    }
    @include mobileS {
        width: 200px;
        height: 250px;
    }
}

.imgWrapper3 {
    position: absolute;
    width: 350px;
    height: 350px;
    transform: rotate(10deg);
    & > img {
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    @include mobileM {
        width: 300px;
        height: 300px;
    }
    @include mobileS {
        width: 200px;
        height: 200px;
    }
}

.imgWrapper4 {
    position: absolute;
    width: 300px;
    height: 600px;
    & > img {
        width: 300px;
        height: 600px;
        background-size: cover;
    }
    @include tabletXs {
        width: 250px;
        height: 500px;
    }
    @include mobileM {
        width: 200px;
        height: 200px;
    }
    @include mobileS {
        width: 150px;
        height: 300px;
    }
}
