@import "../../styles/breakpoint.module.scss";

.mainWrapper {
    position: relative;
}

.fixWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: grey;
    z-index: 2;
    transform: translateX(0%);
    transition: transform 500ms 200ms ease-in;
}

.slidingWrapper {
    transform: translateX(100%);
    transition: transform 500ms 200ms ease-in;
}

.email {
    display: flex;
    font-size: 30px;
    @include tabletM {
        font-size: 23px;
    }
    @include tabletS {
        font-size: 22px;
    }
    @include mobileL {
        font-size: 10px;
    }
}
