// @import url("./fonts/candal-v15-latin-regular.woff2");

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    // z-index: 0;
    // background-color: black;
}

.wrapper {
    background-color: rgb(79, 82, 90);
    color: white;
}

.canvas {
    scale: 1;
    z-index: 10;
}

.showMenu {
    scale: 0;
    z-index: 5;
}
