@import "../../styles/breakpoint.module.scss";

.title {
    position: absolute;
    left: 5vw;
    top: 250px;
    font-size: 100px;
    width: 50vw;
    font-weight: bold;
    font-family: "Bungee";
    @include desktopL {
        font-size: 74px;
        top: 150px;
    }
    @include desktopS {
        font-size: 74px;
        width: 100vw;
    }
    @include desktopXs {
        top: 500px;
    }
    @include tabletS {
        font-size: 60px;
        top: 250px;
        // left: 0;
        left: 5vw;
    }
    @include mobileL {
        font-size: 40px;
        top: 270px;
        width: 100vw;
    }
    @include mobileS {
        font-size: 30px;
        top: 239px;
    }
}

.overflowHidden {
    overflow: hidden;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
}
