.menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    // z-index: 9;
    overflow: hidden;
    font-family: "Bungee";
}

.hideMenu {
    z-index: 0;
}

.slidingWrapper {
    height: 20%;
    transform: translateX(100%);
    background-color: white;
    color: grey;
    font-size: 150px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.socialNetwork {
    padding-bottom: 100px;
}

.floatingWrapper {
    border: 2px solid red;
    position: absolute;
    color: black;
    z-index: 50;
    width: 200px;
    height: 200px;
    // opacity: 1;
    // display: ;
}

.hidingFloatingWrapper {
    border: 2px solid red;
    position: absolute;
    color: black;
    z-index: 50;
    width: 200px;
    height: 200px;
    // opacity: 0;
}
